@model EduFeedback.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<link href="~/Bundle/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/signin.css" rel="stylesheet" />


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin text-center", role = "form" }))
{
    <h2><strong>eduFeedback</strong></h2>
    <h1 class="h3 mb-3 font-weight-normal">Forgot password</h1>
    @Html.AntiForgeryToken()

    if (@ViewBag.SuccessMessage != null && @ViewBag.SuccessMessage != "")
    {<h5 class="text-center" style="color:#25a7ea">@ViewBag.SuccessMessage</h5>
}

if (@ViewBag.ErrorMessage != null && @ViewBag.ErrorMessage != "")
{<h5 class="text-center" style="color:red">@ViewBag.ErrorMessage</h5>
}

@Html.ValidationSummary("", new { @class = "text-danger" })
@Html.LabelFor(m => m.UserID, new { @class = "sr-only" })
@Html.TextBoxFor(model => model.UserID, new { @class = "form-control", autocomplete = "off", type = "text", placeholder = "Enter User / Login ID" })
<button type="submit" class="btn btn-primary" style="margin-top:10px;">Change Password</button>
<a href="/Account/Login" class="btn btn-primary" tabindex="4" id="Cancel" style="margin-top:10px;">Back</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}