@model EduFeedback.Models.CourseModel

@{
    Layout = "~/Views/Shared/_Layout_Services.cshtml";
    ViewBag.Title = "One Course Subscription";
}

<style>
    .size {
        font-size: 25px;
    }


    .mandatory-astrick {
        color: red;
    }
</style>


<section class="section profile">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">ONE COURSE SUBSCRIPTION</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2"></div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"></a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"></a>
                    </header>
                    <!-- Preview image figure-->
                    @*<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>*@
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                        <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                        <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                        @*<h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                        <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                        <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>*@
                    </section>
                </article>
                <!-- Comments section-->

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header size">Register & Book</div>
                    <div class="card-body">
                        <div class="input-group">


                            @using (Html.BeginForm("OneSubscription", "Services", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
                            {
                                <div>
                                    <label for="inputprice" class="form-label">
                                        £7.99  per month
                                    </label>
                                </div>
                                <div>
                                    @Html.LabelFor(m => m.Year_ID)<span class="mandatory-astrick">*</span>
                                    @Html.DropDownListFor(m => m.Year_ID, Model.SchoolYearList, "Choose Year", new { @class = "form-select" })
                                    <span id="Year_IDSpan" style="color:red; display:none;">Please choose year.</span>
                                </div>

                                <div>
                                    @Html.LabelFor(m => m.Subject_ID)<span class="mandatory-astrick">*</span>
                                    @Html.DropDownListFor(m => m.Subject_ID, Model.SubjectList, "Choose Subject", new { @class = "form-select" })
                                    <span id="Subject_IDSpan" style="color:red; display:none;">Please choose subject.</span>
                                </div>

                                <div>
                                    @Html.Label("Assignment per week")
                                    @*@Html.TextBoxFor(m => m.AssignmentsPerWeek, new { @class = "form-control" })*@
                                    <select class="form-control valid" id="assignmentPerWeek" name="assignmentPerWeek" onchange="AssignmentPerWeekOnChange()">
                                        <option value="1">1</option>
                                    </select>

                                </div>

                                <div>
                                    @Html.LabelFor(m => m.PromoCode)
                                    @Html.TextBoxFor(m => m.PromoCode, new { @class = "form-control" })
                                </div>

                                <div>
                                    @*@Html.LabelFor(m => m.Name)<span class="mandatory-astrick">*</span>*@
                                    <label>Name <span class="mandatory-astrick">*</span></label>
                                    @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })*@
                                    <input id="Name" name="Name" type="text" value="" class="form-control">
                                    <span id="NameSpan" style="color:red; display:none;">Please write your name.</span>
                                </div>
                                @Html.HiddenFor(m=>m.Course_ID)
                                <div>
                                    <label>Email<span class="mandatory-astrick">*</span></label>
                                    <input id="Email" name="Email" type="text" value="" class="form-control">

                                    @*@Html.LabelFor(m => m.Email)<span class="mandatory-astrick">*</span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                                    <span id="EmailSpan" style="color:red; display:none;">Please write your email.</span>
                                </div>

                                @*<div>
                                        <label>CAPTCHA</label>
                                        <div class="g-recaptcha" id="ReCaptchaResponse" data-callback="recaptchaCallback" data-sitekey="6Le2YfUpAAAAACDyuB5wl9wDg15wNxAaTWrvAGlr"></div>
                                        <span id="CaptchaSpan" style="color:red; display:none;">Please verify you''re not a robot.</span>
                                    </div>*@

                                <div style="margin-top: 10px;">
                                    <input type="submit" value="SUBSCRIBE" id="btnSubscribe" class="btn btn-primary" />
                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Bundle/lib/bootstrap/js/bootstrap.min.js"></script>

    <!---->
    @*<script src="https://www.google.com/recaptcha/api.js" async defer></script>*@
    <!--<script src="~/Bundle/lib/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="~/Bundle/js/Module/Services-OneSubscription.js"></script>

}


