
@model IEnumerable<EduFeedback.Models.ProductViewModel>
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}
@{
    ViewData["Title"] = "Cart";
    decimal total = 0;
    decimal subtotal = 0;
    int discountPercent = 0;
    decimal discountTotal = 0;
    decimal discountedPrice = 0;
    decimal grandTotalPrice = 0;
}
<style type="text/css">

    /*-------Manish 11 Oct 2022-------*/
    .text-primary {
        color: #78bc43 !important;
    }

    .tablePrice, #cart {
        background-color: #fff;
    }

    .tablePrice {
        font-weight: 600;
    }

        .tablePrice td {
            padding: 0.75rem;
        }

        .tablePrice .totalPart td {
            border-top: 1px solid #dee2e6;
            color: #000;
            font-size: 1.2rem;
        }

    #cart strong {
        color: #000;
    }

    #cart thead th {
        background-color: #2a2e42;
        color: #fff;
    }

    #cart td {
        vertical-align: middle;
    }

    #cart .actions .btn {
        border-radius: 50%;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        padding: 0;
        line-height: 32px;
    }

    .text-bg-secondary {
        background-color: #3c415e;
        color: #fff;
    }

    ul.listOffer {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        ul.listOffer li {
            line-height: 24px;
            padding-left: 30px;
        }

            ul.listOffer li .fa {
                margin-left: -30px !important;
            }

            ul.listOffer li + li {
                margin-top: 1.2rem;
            }

    @@media (min-width: 1024px) {
        .px60 {
            padding: 0 60px;
        }
    }
</style>
<link href="~/NewDesign/Bundle/css/style.css" rel="stylesheet">

<section class="inner-intro overlay-dark parallax serviceBg">
    <div class="container">
        <div class="row title">
            <h2 class="h2"> Paper / Assignment Selected </h2>
            @*<div class="page-breadcrumb"></div>*@
        </div>
    </div>
</section>

<main id="main">
    <section id="contact" class="section-bg wow fadeInUp" style="background-color: #f1f2f5;">
        <div class="container-fluid">
            @if (Model.Count() > 0)
            {
                @*<div class="row">
                        <div class="col-md-12">
                            <div>
                                <ul id="discount-list">
                                </ul>
                            </div>
                            <table id="cart" class="table table-hover table-condensed">
                                <thead>
                                        <th style="width:50%">Product</th>
                                        <th style="width:20%">Price</th>
                                        <th style="width:2%">Quantity</th>
                                        <th style="width:32%" class="text-center">Subtotal</th>
                                        <th style="width:4%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                        subtotal = (item.TotalAmount) * item.Quantity;


                                        discountPercent = item.DiscountPercent;

                                        discountTotal += item.DiscountAmount;

                                        <td data-th="Product">
                                            <strong>@item.Name</strong>
                                            @if (item.IsAlreadyPurchased)
                                            {<sup style="color:red;"> Already purchased</sup>
                                            }
                                            <br />

                                            <span>(@item.Description)</span>
                                        </td>
                                        <td data-th="TotalAmount">
                                            &pound @item.TotalAmount
                                            @if (item.IsSubscription)
                                            {
                                                <sup style="color: #dc3545;"> per month</sup>
                                            }

                                        </td>
                                        <td data-th="Quantity">@item.Quantity</td>

                                        <td data-th="Subtotal" class="text-nowrap text-center">



                                            @if (@item.DiscountAmount > 0)
                                            {
                                                <span style="text-decoration-line: line-through;">   @subtotal</span>
                                                <strong>@Math.Round(@item.DiscountAmount, 2)</strong>
                                            else
                                            {
                                                <strong>   @subtotal</strong>
                                            }
                                        </td>
                                        <td class="actions" data-th="">

                                            <a href="@Url.Action("Courses_Detail", "Home", new { courseId = @item.Course_ID })" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i></a>
                                            <a href="@Url.Action("Remove", "AddToCart", new { courseId = @item.Course_ID, returnUrl = "Index" })" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>

                                        </td>
                                    </tr>

                                    }
                                </tbody>
                                <tfoot>
                                    @{
                                        if (@discountTotal > 0)
                                        {
                                        }

                                        grandTotalPrice = @total - discountedPrice;
                                    }
                                    <tr>
                                        <td colspan="3" class="hidden-xs"></td>
                                        <td class="left">
                                            <span class="left"><strong style="float:left">Subtotal</strong></span>
                                            <span class="left"><strong style="float:right">&pound @total</strong></span>

                                        <td class="right"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="hidden-xs"></td>
                                        <td class="left">
                                            <span class="left"><strong style="float:left">Discount (@discountPercent %)</strong></span>
                                            <span class="left"><strong style="float:right">&pound @Math.Round(@discountedPrice, 2)</strong></span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="hidden-xs"></td>
                                        <td class="left">
                                            <span class="left"><strong style="float:left">Total</strong></span>
                                            <span class="left"><strong style="float:right">&pound @Math.Round(@grandTotalPrice, 2)</strong></span>
                                        </td>
                                        <td class="right"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <div class="row">
                                                <div class="col-sm-6 collection">
                                                    <a href="~/Courses/" class="btn btn-primary" style="float:right;"><i class="fa fa-angle-left"></i> Continue Shopping</a>
                                                </div>
                                                <div class="col-sm-6 collection">
                                                    <a href="~/Cart/Checkout" class="btn btn-warning" style="float:left;">Checkout <i class="fa fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </td>

                                </tfoot>

                            </table>
                        </div>
                    </div>*@

                <div class="px60">
                    <div class="px60">
                        <div class="row">
                            <div class="col-md-8">

                                <div class="card text-bg-secondary mb-3 d-lg-none d-block" id="div_discount_mobile">
                                    <div class="card-header">
                                        <h5 class="card-title m-0">Discount Offer</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="listOffer">
                                            <li><i class="fa fa-arrow-right text-primary mx-2"></i> 5% discount on <span class="text-primary">2 course</span> selection</li>
                                            <li><i class="fa fa-arrow-right text-primary mx-2"></i> 10% discount on <span class="text-primary">3 course</span> selection</li>
                                            <li><i class="fa fa-arrow-right text-primary mx-2"></i> 15% discount on <span class="text-primary">4 or more course</span> selection</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h4 class="text-dark">Summary</h4>
                                    </div>
                                    <div class="col-md-6 col-sm-6 text-right">
                                        <h5 class="text-dark" id="H5_ItemCount">@Model.Count() Items</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="cart" class="table table-hover table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>Papers/Assignments</th>
                                                        <th>Price</th>
                                                        <th class="text-center">Qty</th>
                                                        <th>Subtotal</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        subtotal = (item.TotalAmount) * item.Quantity;

                                                        total += subtotal;

                                                        if (discountPercent <= 0)
                                                        {
                                                            discountPercent = item.DiscountPercent;

                                                        }

                                                        discountTotal += item.DiscountAmount;
                                                        <tr>
                                                            <td data-th="Product">
                                                                <strong>@item.Name</strong>
                                                                @if (item.IsAlreadyPurchased)
                                                                {
                                                                    <br />
                                                                    <span style="color:red;float:left;"> Already purchased</span>
                                                                }

                                                                @if (@item.CourseType_ID == 2)
                                                                {
                                                                    <br />
                                                                    <span style="float:left;">(@item.Description)</span>
                                                                }
                                                            </td>
                                                            <td data-th="TotalAmount" class="text-nowrap text-left">
                                                                <strong>£ @item.TotalAmount</strong>  @if (item.IsSubscription)
                                                                {
                                                                    <sup style="color: #dc3545;"> per month</sup>
                                                                }
                                                                @*else
                                                                        {
                                                                    <sup style="color: #dc3545;"> one time</sup>
                                                                        }*@
                                                            </td>
                                                            <td class="text-center" data-th="Quantity">@item.Quantity</td>
                                                            <td data-th="Subtotal" class="text-nowrap text-center">
                                                                @if (@item.DiscountAmount > 0)
                                                                {
                                                                    if (item.IsSubscription)
                                                                    {
                                                                        <span style="text-decoration-line: line-through;">   @subtotal</span>
                                                                    }
                                                                    <strong>@Math.Round(@item.DiscountAmount, 2)</strong>

                                                                    @*if (@item.CourseType_ID == 2)
                                                                        {
                                                                            <span style="text-decoration-line: line-through;">   @subtotal</span>
                                                                            <strong>@Math.Round(@item.DiscountAmount, 2)</strong>
                                                                        }
                                                                        else
                                                                        {
                                                                            <strong>@subtotal</strong>
                                                                        }*@
                                                                }
                                                                else
                                                                {
                                                                    <strong>   @subtotal</strong>
                                                                }
                                                            </td>
                                                            <td class="actions text-nowrap text-right" data-th="">
                                                                <a href="@Url.Action("Remove", "AddToCart", new { courseId = @item.Course_ID, returnUrl = "Index" })" class="btn btn-danger btn-sm">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </a>
                                                            </td>
                                                            @if (@item.CourseType_ID == 2)
                                                            {
                                                                <a href="@Url.Action("Courses_Detail", "Home", new { courseId = @item.Course_ID })" class="btn btn-primary btn-sm">
                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                </a>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-bg-secondary mb-3 d-none d-lg-block" id="div_discount">
                                    <div class="card-header">
                                        <h5 class="card-title m-0">Discount Offer</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="listOffer">
                                            <li><i class="fa fa-arrow-right text-primary mx-2"></i> 5% discount on <span class="text-primary">2 course</span> selection</li>
                                            <li><i class="fa fa-arrow-right text-primary mx-2"></i> 10% discount on <span class="text-primary">3 course</span> selection</li>
                                            <li><i class="fa fa-arrow-right text-primary mx-2"></i> 15% discount on <span class="text-primary">4 or more course</span> selection</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-body p-0">
                                        <table class="tablePrice" width="100%">
                                            <tbody>
                                                @{
                                                    if (@discountTotal > 0)
                                                    {
                                                        discountedPrice = @total - @discountTotal;
                                                    }

                                                    grandTotalPrice = @total - discountedPrice;
                                                }
                                                <tr>
                                                    <td class="text-left">Subtotal</td>
                                                    <td class="text-right">£ @total</td>
                                                </tr>
                                                <tr>
                                                    @if (@discountPercent > 0)
                                                    {
                                                        <td class="text-left">Discount <span class="text-danger">(@discountPercent %)</span></td>
                                                        <td class="text-right"><span class="text-danger">- £ @Math.Round(@discountedPrice, 2)</span></td>
                                                    }
                                                </tr>
                                                <tr class="totalPart">
                                                    <td class="text-left">Total</td>
                                                    <td class="text-right">£ @Math.Round(@grandTotalPrice, 2)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="card mb-3">
                                    <div class="card-body p-0">
                                        <form id="register" action="/Cart/Checkout">
                                            <table class="tablePrice" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label>Name</label>
                                                            <input id="Name" name="Name" type="text" value="@ViewBag.Name" class="form-control" />
                                                            <span id="name-error" style="color:red;display:none">Name is required</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>Email</label>
                                                            <input id="Email" name="Email" type="text" value="@ViewBag.Email" class="form-control" />
                                                            <span id="email-error" style="color: red; display: none">Email is required</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center mb-3"><input type="button" class="btn-Checkout btn btn-secondary" value="Checkout" /></div>
                                    @*<a href="~/Cart/Checkout" class="btn-Checkout btn btn-secondary">Checkout</a>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center"> <a href="~/Courses/" class="text-secondary" style="text-decoration:underline;">Continue Shopping</a> </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
            else
            {
                <div class="descriptionDiv col-md-12 fullWidth text-center">
                    <div class="descriptionDiv">

                        <p><h4>  Your cart is empty</h4></p>
                        <span>Once you've added some items to your cart they will appear here</span>
                    </div>
                    <div class="col-md-12">
                        <a href="~/Courses/" class="btn btn-primary">Browse Papers/Assignments</a>
                    </div>
                </div>

            }

        </div>


    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="~/Bundle/js/DataTables_b4/datatables.min.css" rel="stylesheet" />

<script src="~/NewDesign/Bundle/js/jquery-1.9.1.min.js"></script>
<script src="~/Bundle/js/DataTables_b4/datatables.min.js"></script>
@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            var dd = '@ViewBag.displayDiscount';
            //alert(dd);
            if (dd == 1) {
                $("#div_discount").addClass("d-lg-block");
                $("#div_discount_mobile").addClass("d-block");
                /*$("#div_discount_mobile").attr("display", "block");*/
                $('#div_discount_mobile').css("display", 'block');

            }
            else {
                $("#div_discount").removeClass("d-lg-block");
                $("#div_discount_mobile").removeClass("d-block");
                $('#div_discount_mobile').css("display", 'none');
                /*$("#div_discount_mobile").attr("display", "none");*/

            }



            $('.btn-Checkout').click(function () {

                var flag = true;
                $('#name-error').hide()
                $('#email-error').hide()
                var name = $('#Name').val();
                var email = $('#Email').val();
               // alert(name + ' ' + email);
                if (name == '' || name == undefined) {
                    $('#name-error').show();
                    flag = false;
                }

                if (email == '' || email == undefined) {
                    $('#email-error').show();
                    flag = false;
                }
                else {
                    const pattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
                    const isValid = pattern.test(email);
                    if (isValid) {
                        flag = true;
                    }
                    else {
                        $('#email-error').html('Please enter valid email Id');
                        $('#email-error').show();
                        flag = false;
                    }
                }

                if (flag) {
                    $("#register").submit();
                }
            });
        });

        loadDiscountList();
        function loadDiscountList() {

            $.ajax({
                url: '/Home/GetInternalDiscountedCourseList',
                type: "GET",
                dataType: "JSON",
                success: function (Result) {
                    $(Result.data).each(function (index, d) {
                        $("#discount-list").append('<li><i class=""></i> ' + d.Discount_Percent + d.Description + '</li>');
                    });
                }
            });

        }
    </script>
}

